<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Lorem, ipsum.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repellat
      delectus distinctio, eveniet praesentium deleniti. Unde vero fugit
      dolorum, dolore nostrum esse ex exercitationem dignissimos?
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Lorem, ipsum.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repellat
        delectus distinctio, eveniet praesentium deleniti. Unde vero fugit
        dolorum, dolore nostrum esse ex exercitationem dignissimos?
      </p>
    </header>
  </div>
</section>
