<div class="plan">
  <div class="card card--secondary">
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="span__price">$15</span>
      <span class="span__billing-cycle">/Month</span>
      <span class="badge badge--secondary badge--small">10% off</span>
      <p class="plan__description">Easy start on the could</p>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
      </ul>
    </div>
    <button class="btn btn--outline btn--block">Click me</button>
  </div>
</div>
