<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure tenetur
    facilis expedita nihil minima ab fugit perspiciatis saepe placeat sit
    aliquid corporis repudiandae mollitia dignissimos accusantium magnam ipsam,
    adipisci numquam.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="Media__body">
        <h3 class="media__title quote__name">John Smith</h3>
        <p class="quote__company">ABC Comapny Inc.</p>
      </div>
    </div>
  </footer>
</blockquote>
